body {
  background-color: lighten(#ccc, 50%);
}

.cursor {
  cursor: pointer;
}

.padding {
  padding: 10px;
}

.text-center {
  text-align: center;
}

.m-t-sm {
  margin-top: 15px;
}

.auto-overflow {
  overflow: auto;
}

.height-max {
  max-height: 65vh;
}

.material-icons.md-36 { font-size: 36px; height: 36px; width: 36px; }

.li-hover:hover {
  color: #0d47a1;
}
